/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,..)
*/

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */

/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

#main {
}

#header {
  height: 46px;
  background-color: black;
}

#nav {
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li:hover .subnav {
  display: block;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: inline-block;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav .subnav li:hover,
#nav > li:hover > a {
  background-color: #ccc;
  color: black;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
  width: 100%;
}

#nav .subnav a {
  color: black;
  padding: 0px 12px;
  line-height: 38px;
}

#slider {
}

#content {
}

#footer {
}
